body {
    margin: 0;
    padding: 0;
    font-family: 'Cruinn', sans-serif; /* Используем шрифт Cruinn для всего текста на сайте */
}

.content-blur {
    position: relative;
    z-index: 1;
    color: #fff; /* Белый цвет текста */
    text-align: center; /* Центрирование текста */
    font-size: 24px; /* Размер шрифта */
    margin-top: 1px; /* Отступ сверху для текста */
}

.anime-title-site{
    font-size: 50px;
    opacity: 0.9;
}

.logo img {
    width: 50px;
    height: auto;
}

.background-gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header {
    background-color: rgba(0, 0, 0, 0.8); /* Черный цвет с 80% прозрачности */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff; /* Белый цвет текста */
}

.menu {
    position: fixed;
    top: 0;
    right: -250px; /* Начальное положение за правым краем экрана */
    width: 150px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Цвет фона меню с прозрачностью */
    padding: 20px;
    transition: right 0.3s ease, opacity 0.3s ease; /* Плавное появление меню и прозрачности */
    opacity: 0; /* Начальная непрозрачность */
    z-index: 999; /* Установка меню поверх других элементов */
}

.menu-open {
    right: 0; /* Показать меню */
    opacity: 1; /* Сделать меню непрозрачным */
}

.menu-button {
    position: right;
    float: right;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
}


.menu-button img {
    width: 30px;
    height: auto;
}

.menu-button,
.back-button,
.home-button,
.tops-button,
.info-button {
    font-family: 'Cruinn', sans-serif; /* Применяем шрифт Cruinn к кнопкам меню */
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    color: #fff; /* Белый цвет текста */
    z-index: 1000;
}

.content {
    padding: 20px;
    display: flex; /* Располагаем элементы в строку */
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку при необходимости */
    justify-content: space-between; /* Равномерно распределяет пространство между элементами */
}

.anime-image img {
    border-radius: 10px;
    width: 90%;
    height: 100%;
    object-fit: cover; /* Позволяет изображению заполнить доступное пространство, сохраняя при этом пропорции */
}

.anime-image-fon img {
    border-radius: 10px;
    width: 90%;
    height: 100%;
    object-fit: cover; /* Позволяет изображению заполнить доступное пространство, сохраняя при этом пропорции */
}

.anime-card {
    transition: transform 0.3s ease;
    opacity: 0.8;
    width: calc(20% - 20px);
    margin-bottom: 20px;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden; /* Чтобы предотвратить выход за пределы контейнера */
    flex: 1 1 20%; /* Это позволит элементам равномерно распределяться по строке */
    max-width: calc(20% - 20px); /* Устанавливаем максимальную ширину карточки */
}

.anime-card:hover {
    transform: scale(1.1); /* Увеличиваем карточку в 1.2 раза при наведении */
}

.anime-image {
    position: relative;
    display: block;
    margin: 2px 2.5em 0 auto;
    border-radius: 10px; /* Закругление краёв */
    max-width: 70%; /* Максимальная ширина - 100% */
    height: auto; /* Автоматическое регулирование высоты */
    transition: transform 0.3s ease;
}

.anime-image-fon{
    position: relative;
    display: block;
    margin: 0 auto;
    border-radius: 10px; /* Закругление краёв */
    max-width: 70%; /* Максимальная ширина - 100% */
    height: auto; /* Автоматическое регулирование высоты */
    transition: transform 0.3s ease;
}

.anime-image-fon:hover {
    transform: scale(1.1); /* Увеличение изображения при наведении на него */
}

.anime-image:hover {
    transform: scale(1.1); /* Увеличение изображения при наведении на него */
}

@media only screen and (max-width: 768px) {
    .anime-card {
        transition: transform 0.3s ease;
        opacity: 0.8;
        width: calc(100% - 20px); /* Ширина карточки - половина ширины экрана минус отступы */
        margin-bottom: 20px; /* Отступ снизу */
        background-color: #000;
        border-radius: 20px;
        overflow: hidden; /* Чтобы предотвратить выход за пределы контейнера */
        flex: 1 1 100%; /* Это позволит элементам равномерно распределяться по строке */
        max-width: calc(100% - 20px); /* Устанавливаем максимальную ширину карточки */
    }

    .anime-card:hover {
        transform: scale(1.1); /* Увеличиваем карточку в 1.2 раза при наведении */
    }

    .anime-image {
        position: relative;
        display: block;
        margin: 0 auto;
        border-radius: 10px; /* Закругление краёв */
        max-width: 70%; /* Максимальная ширина - 100% */
        height: auto; /* Автоматическое регулирование высоты */
        transition: transform 0.3s ease;
    }
}

.series-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Расстояние между кнопками */
    width: 100%;
}

.tg-button {
    width: 200px;
    height: 50px;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.buttn{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    padding: 12px 32px;
    margin: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    border-radius: 50px;
}

.btn-glow{
    box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 20px 0px;
}

.watch-button {
  background-image: linear-gradient(to right, rgb(128,128,128), rgb(165,165,165));
  border: 0;
  color: rgba(var(--text-color));
}

.series-button {
    width: 50px;
    height: 50px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* Повторяем стиль для кнопок серий от 11 до 100 */
.series-button:nth-child(n+11) {
    /* Повторяйте этот блок стилей для кнопок от 11 до 100 */
    width: 50px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
.search-container {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

/* Стили для поля ввода */
#searchInput {
    opacity: 0.8;
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 20px; /* Закругление углов */
    background-color: #000; /* Черный цвет фона */
    color: #fff; /* Белый цвет текста */
    box-sizing: border-box;
    font-size: 16px;
}

/* Стили для текста в поле ввода при фокусе */
#searchInput:focus {
    outline: none; /* Убираем рамку фокуса */
}

.anime-title {
    font-size: 40px; /* Размер текста */
    text-align: center; /* Выравнивание по центру */
}

.anime-info {
    padding: 10px;
    text-align: center;
}

.anime-title {
    font-size: 16px; /* Размер шрифта заголовка */
    margin-bottom: 5px;
    color: #ffffff;
}

.anime-episodes {
    font-size: 12px; /* Размер шрифта количества серий */
    color: #ffffff;
}
